MQTT Node-Red Flow.json
[
    {
        "id": "696269069d86e2d1",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ab4a52febd61a7b",
        "type": "mqtt in",
        "z": "696269069d86e2d1",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b0e053722bedf44b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "1a51af5b6277965f",
                "146c6ad69c60d460",
                "bc666042f54b9274"
            ]
        ]
    },
    {
        "id": "183443073c9c8470",
        "type": "mqtt in",
        "z": "696269069d86e2d1",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b0e053722bedf44b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 320,
        "wires": [
            [
                "2afda0a1c5f807f9",
                "7674d8f0bce588f0",
                "c5bb239adb65da26",
                "2b297cb55a2cc5b2"
            ]
        ]
    },
    {
        "id": "1a51af5b6277965f",
        "type": "debug",
        "z": "696269069d86e2d1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "2afda0a1c5f807f9",
        "type": "debug",
        "z": "696269069d86e2d1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 620,
        "wires": []
    },
    {
        "id": "99cab7f372a582ea",
        "type": "ui_gauge",
        "z": "696269069d86e2d1",
        "name": "",
        "group": "ab6f67fd1aa3d80a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temprature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "4f9669aa3346bf70",
        "type": "ui_chart",
        "z": "696269069d86e2d1",
        "name": "",
        "group": "e95c78af07229bb7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Histori Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f270b68537bea89d",
        "type": "ui_gauge",
        "z": "696269069d86e2d1",
        "name": "",
        "group": "ab6f67fd1aa3d80a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#0ee11c",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "16ca721e23be547a",
        "type": "ui_chart",
        "z": "696269069d86e2d1",
        "name": "",
        "group": "e95c78af07229bb7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Histori Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6e28e5f68be41e5c",
        "type": "function",
        "z": "696269069d86e2d1",
        "name": "function 3",
        "func": "let humidity = parseFloat(msg.payload); // Ubah payload menjadi angka\nif (humidity < 40) {\n    msg.payload = \"Kelembapan rendah\";\n} else if (humidity > 60) {\n    msg.payload = \"Kelembapan tinggi\";\n} else {\n    msg.payload = \"Kelembapan normal\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 560,
        "wires": [
            [
                "a285658f237d5e63"
            ]
        ]
    },
    {
        "id": "a285658f237d5e63",
        "type": "ui_text",
        "z": "696269069d86e2d1",
        "group": "ab6f67fd1aa3d80a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tingkat Kelembapan",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "588475d2860ef86c",
        "type": "mqtt out",
        "z": "696269069d86e2d1",
        "name": "",
        "topic": "esp32/fan/duty",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b0e053722bedf44b",
        "x": 800,
        "y": 780,
        "wires": []
    },
    {
        "id": "f2724ff80b0b5cf5",
        "type": "ui_slider",
        "z": "696269069d86e2d1",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "d9eceeeca27d8946",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 410,
        "y": 740,
        "wires": [
            [
                "ea3e5dc21b54a662",
                "1eac7692a9ed9f5f"
            ]
        ]
    },
    {
        "id": "63fc926894f943ea",
        "type": "ui_switch",
        "z": "696269069d86e2d1",
        "name": "",
        "label": "Manual Control",
        "tooltip": "",
        "group": "d9eceeeca27d8946",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "49e4a7eedd0809e7"
            ]
        ]
    },
    {
        "id": "f9393aeef14021fc",
        "type": "mqtt out",
        "z": "696269069d86e2d1",
        "name": "",
        "topic": "esp32/fan/manual",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b0e053722bedf44b",
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "fb37e4eac6f731f1",
        "type": "mqtt out",
        "z": "696269069d86e2d1",
        "name": "",
        "topic": "esp32/fan/off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b0e053722bedf44b",
        "x": 710,
        "y": 920,
        "wires": []
    },
    {
        "id": "28f64feebe26cd60",
        "type": "ui_switch",
        "z": "696269069d86e2d1",
        "name": "",
        "label": "OnOff",
        "tooltip": "",
        "group": "d9eceeeca27d8946",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 920,
        "wires": [
            [
                "fb37e4eac6f731f1"
            ]
        ]
    },
    {
        "id": "642c7e80ed1540a6",
        "type": "ui_gauge",
        "z": "696269069d86e2d1",
        "name": "",
        "group": "d9eceeeca27d8946",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kecepatan Kipas",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "ea3e5dc21b54a662",
        "type": "function",
        "z": "696269069d86e2d1",
        "name": "function 4",
        "func": "// Input payload dari 0 hingga 255\nlet value = msg.payload;\n\n// Mengonversi 0-255 menjadi 0-100%\nlet percentage = (value / 255) * 100;\n\n// Membulatkan hasil menjadi bilangan bulat\nmsg.payload = Math.round(percentage);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 680,
        "wires": [
            [
                "642c7e80ed1540a6"
            ]
        ]
    },
    {
        "id": "146c6ad69c60d460",
        "type": "delay",
        "z": "696269069d86e2d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "99cab7f372a582ea"
            ]
        ]
    },
    {
        "id": "bc666042f54b9274",
        "type": "delay",
        "z": "696269069d86e2d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "4f9669aa3346bf70"
            ]
        ]
    },
    {
        "id": "7674d8f0bce588f0",
        "type": "delay",
        "z": "696269069d86e2d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "f270b68537bea89d"
            ]
        ]
    },
    {
        "id": "c5bb239adb65da26",
        "type": "delay",
        "z": "696269069d86e2d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "16ca721e23be547a"
            ]
        ]
    },
    {
        "id": "2b297cb55a2cc5b2",
        "type": "delay",
        "z": "696269069d86e2d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "6e28e5f68be41e5c"
            ]
        ]
    },
    {
        "id": "1eac7692a9ed9f5f",
        "type": "delay",
        "z": "696269069d86e2d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 760,
        "wires": [
            [
                "588475d2860ef86c"
            ]
        ]
    },
    {
        "id": "49e4a7eedd0809e7",
        "type": "delay",
        "z": "696269069d86e2d1",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 840,
        "wires": [
            [
                "f9393aeef14021fc"
            ]
        ]
    },
    {
        "id": "b0e053722bedf44b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "20.2.168.202",
        "port": "1883",
        "clientid": "NodeRed_Client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab6f67fd1aa3d80a",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "88edd6559d628dc1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e95c78af07229bb7",
        "type": "ui_group",
        "name": "Histori Data",
        "tab": "88edd6559d628dc1",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d9eceeeca27d8946",
        "type": "ui_group",
        "name": "Control Manual",
        "tab": "88edd6559d628dc1",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "88edd6559d628dc1",
        "type": "ui_tab",
        "name": "MQTT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]